/* bebas-neue-regular - latin */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("fonts/bebas-neue-v9-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: block; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

* {
  color: aliceblue;
  font-family: "Bebas Neue", serif;
}

/* HEADER */

header h1 {
  font-size: 40px;
}

header span a {
  text-decoration: underline;
  color: aqua;
}

/* INPUTS */

.fusion-input-container {
  display: flex;
  border-radius: 7px;
}

.fusion-input {
  padding: 5px;
}

.fusion-input label {
  color: rgb(30, 30, 30);
}

.fusion-input input {
  color: rgb(77, 77, 77);
  width: 100%;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.fusion-input-base {
  padding: 25px;
}

.custom {
  color: green;
}

.not-custom {
  color: red;
}

span {
  display: block;
}

.stat-greater {
  color: green;
}

.stat-less {
  color: red;
}

.stat-equal {
  color: yellow;
}

.stat {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stat-value-container {
  width: 70px;
  display: flex;
  justify-content: flex-start;
}

.stats {
  margin-bottom: 15px;
}

.type-dmg {
  display: block;
}

.type-dmg-list {
  list-style: none;
  display: flex;
}

.type-dmg-img {
  width: 60px;
}
