* {
  background-color: rgb(27, 24, 34);
  color: aliceblue;
}

.custom {
  color: green
}

.not-custom {
  color: red;
}

span {
  display: block;
}

.stat-greater {
  color: green;
}

.stat-less {
  color: red;
}

.stat-equal {
  color: yellow;
}