* {
  background-color: rgb(27, 24, 34);
  color: aliceblue;
}

.custom {
  color: green
}

.not-custom {
  color: red;
}

span {
  display: block;
}

.stat-greater {
  color: green;
}

.stat-less {
  color: red;
}

.stat-equal {
  color: yellow;
}

.stat {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stat-value-container {
  width: 70px;
  display: flex;
  justify-content: flex-start;
}

.stats {
  margin-bottom: 15px;
}

.type-dmg {
  display: block;
}

.type-dmg-list {
  list-style: none;
  display: flex;
}

.type-dmg-img {
  width: 60px;
}